#calender{
    border: 2px solid white;
    padding: 10px 20px 20px 10px;
    background-color: rgb(204, 189, 189);
    border-radius: 10px;
}
#attendance{
    border: 2px solid white;
    /* padding: 10px 20px 20px 10px; */
    background-color: rgb(204, 189, 189);
}
.btn{
    background-color: rgb(108, 108, 240);
    border:1px solid white;
    border-radius: 5px;
}
.report{
    margin-left: 390px;
    width: 120px;
    height: 30px;
    background-color: rgb(151, 232, 151);
    border: 1px solid white;
    border-radius: 5px;
}