.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#display > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin: 10px;
}

p{
    min-width: 30%;
}

li{
    display: flex;
    align-items: center;

}

.hide{
    display : none;
}